/*@import url('https://fonts.googleapis.com/css?family=Assistant:200|Source+Sans+Pro:200');
*/
#kvp-vwrap {
  width: 855px;
  height: 480px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  font-family: 'Assistant', sans-serif;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-weight: 200;
  color: #d6d4c9;
}
#kvp-vwrap * {
  position: absolute;
}
#kvp-v {
  width: 855px;
  height: 480px;
}
#kvp-ui {
  height: 50px; /* keyframe should match */
  bottom: -50px; /* this will change to 0 when turned on */
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.65);
  font-size: 0.8em;
}
@keyframes kvp_ui_on {
  from {bottom: -50px}
    to   {bottom: 0}
}
@keyframes kvp_ui_off {
  from {bottom: 0}
    to   {bottom: -50px}
}
#kvp-ui.on {
  animation-name: kvp_ui_on;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
#kvp-ui.off {
  animation-name: kvp_ui_off;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}
#kvp-highlight-edit {
  height: 70px;
  top: -70px;
  width: 100%;
  background-color: rgba(0,0,0,0.65);
  overflow: hidden;
}
@keyframes kvp_highlight_edit_on {
  from {top: 0; height: 0}
    to {top: -70px; height: 70px}
}
@keyframes kvp_highlight_edit_off {
  from {top: -70px; height: 70px}
    to {top: 0; height: 0}
}
#kvp-highlight-edit.on {
  animation-name: kvp_highlight_edit_on;
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
#kvp-highlight-edit.off {
  animation-name: kvp_highlight_edit_off;
  animation-duration: 0.1s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}
@keyframes kvp_highlight_edit_contents_on {
  from {opacity: 0}
    to {opacity: 1}
}
@keyframes kvp_highlight_edit_contents_off {
  from {opacity: 1}
    to {opacity: 0}
}
#kvp-highlight-edit.on * {
  animation-name: kvp_highlight_edit_contents_on;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-delay: 0.1s;
}
#kvp-highlight-edit.off * {
  animation-name: kvp_highlight_edit_contents_off;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

#kvp-highlight-edit {
  display: table;
  table-layout: fixed;
}

#kvp-highlight-edit * {
  position: relative;
  box-sizing: border-box;
}

#kvp-highlight-edit > * {
  display: table-cell;
  border: solid 1px red;
}

#kvp-highlight-edit::first-child {
  min-width: 200px;
  max-width: 400px;
}

#kvp-highlight-edit-note {
  width: 100%;
  padding: 2px 7px;
  background-color: rgba(0,0,0,0.4);
  border: solid 1px #731296;
  color: #333;
  font-size: 0.8em;
}
#kvp-highlight-edit-note::placeholder {
  font-style: italic;
}
#kvp-highlight-edit input[type="text"] {
  width: 60px;
  background-color: rgba(0,0,0,0.4);
  border: solid 1px #731296;
  color: #333;
  font-size: 1em;
}
#kvp-highlight-edit-start {

}
#kvp-highlight-edit-end {

}
#kvp-highlight-edit [for] {
  width: 30px;
  color: #d5d1d6;
  font-size: 0.9em;
  letter-spacing: 0.05em;
  text-align: right;
}
[for="kvp-highlight-edit-start"] {

}
[for="kvp-highlight-edit-end"] {

}

#kvp-highlight-edit-save,
#kvp-highlight-edit-discard,
#kvp-highlight-edit-cancel {
  width: 50px;
  height: 20px;
  background-color: #ccc;
  overflow: hidden;
}

#kvp-highlight-edit-save {

}
#kvp-highlight-edit-discard {

}
#kvp-highlight-edit-cancel {

}

#kvp-timeline {
  height: 9px;
  top: 7px;
  left: 5px;
  right: 5px;
  background-color: #731296;
  overflow: visible;
}

/* transient, automatic ranges */
#kvp-ranges {
  width: 100%;
  height: 100%;
}
.kvp-buffered {
  height: 100%;
  background-color: #a540c9;
}
.kvp-played {
  height: 2px;
  bottom: -1px;
  background-color: #dfb8ed; /* nice if it matches the playhead */
}

/* user-defined ranges */
.kvp-highlights {
  height: 3px;
  top: -2px;
  color: #ff7700;
}

#kvp-playhead {
  width: 6px;
  height: 11px;
  left: -3px; /* half the width */
  top: -1px;
  background-color: #dfb8ed;
}
#kvp-video-title, #kvp-time-info {
  top: 25px;
}
#kvp-video-title {
  width: 200px;
  left: 10px;
  font-size: 1.2em;
}
#kvp-time-info {
  right: 10px;
  white-space: nowrap;
}
#kvp-time-info div {
  position: relative;
  display: inline;
  margin: 0;
  padding: 0;
}
#kvp-duration::before {
  content: " / ";
}
